{
    "minify": true,
    "jsc": {
        "minify": {
            "compress": true // equivalent to {}
        },
        "parser": {
            "syntax": "ecmascript",
            "jsx": true,
            "decorators": true
        },
        "transform": {
            "react": {
                "pragma": "olka.createElement",
                "pragmaFrag": "olka.wrapper"
            }
        },
        "target": "esnext",
        "preserveAllComments": false
    },
    "module": {
        "type": "es6",
        "strict": true
    }
}