{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "jsx": true,
            "decorators": true
        },
        "transform": {
            "react":{
                "pragma": "temp.createElement",
                "pragmaFrag": "temp.wrapper"
            }
        }
        ,
        "target": "ES2022"
    },
    "module": {
        "type": "es6"
    }
}